<%# vim: set filetype=html: %>

<% for(let j=0; j<Math.max(tx.vin.length, tx.vout.length); j++) { %>
<tr>
	<td style="width:45%;">
		<% if(tx.vin[j]) { %>
			<% if(tx.vin[j].address != 'coinbase') { %>
				<div><%- formatAddress(tx.vin[j].address, colorize) %></div>
				<div style="margin-left:2em;">[<%- formatAmount(tx.vin[j].value) %>]</div>
			<% } else { /* Coinbase */ %>
				(coinbase transaction)
			<% } %>
		<% } %>
	</td>
	<td><%- j==0 ? '<i class="fa fa-arrow-circle-right"></i>' : '' %></td>
	<td style="width:45%;">
		<% if(tx.vout[j]) { %>
		<div>
			<%- formatAddress(tx.vout[j].scriptPubKey.address, colorize) %>
		</div>
		<div style="margin-left:2em;">[<%- formatAmount(tx.vout[j].value) %>]</div>
		<% } %>
	</td>
</tr>
<% } %>

