<%# vim: set filetype=html: %>

<%- include('templates/header.ejs', { title: `Transaction ${tx.txid}` }) %>

<div class="page-header">
	<h1>Transaction <small>[<%= tx.txid.slice(0, 16) %>...]</small></h1>
</div>

<div class="text-center">
	<% if(tx.confirmed_height < 0) { %>
	<span class="badge badge-danger">unconfirmed</span>
	<% } else { %>
	<% const confirmations = status.blocks - tx.confirmed_height + 1; %>
	<span class="badge badge-<%= confirmations<6 ? 'warning' : 'success' %>"><%= confirmations.toLocaleString() %> confirmations</span>
	<% } %>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Input</th>
			<th></th>
			<th>Output</th>
		</tr>
	</thead>
	<tbody>
		<%- include('transaction_movements.ejs', { tx: tx, colorize: [] }) %>
	</tbody>
</table>

<%- include('api.ejs', { api_path: `/tx/${tx.txid}` }); %>

<h2>Transaction Details</h2>

<table class="table">
	<tbody>
		<tr data-toggle="tooltip" data-placement="top" title="The transaction ID (reverse of transaction hash).">
			<th>Transaction ID</th>
			<td colspan="3"><%= tx.txid %></td>
		</tr>
		<tr data-toggle="tooltip" data-placement="top" title="The hash of the transaction including witness (will coincides with txid if a transaction has no witness data).">
			<th>Hash</th>
			<td colspan="3"><%= tx.hash %></td>
		</tr>
		<tr data-toggle="tooltip" data-placement="top" title="The size of the transaction (includes witness).">
			<th>Size</th>
			<td><%= tx.size.toLocaleString() %> bytes</td>
			<th>Virtual Size</th>
			<td><%= tx.vsize %> bytes</td>
		</tr>
		<tr>
			<th>Version</th>
			<td><%= tx.version %></td>
			<th>Locktime</th>
			<td><%= tx.locktime %></td>
		</tr>
		<tr>
			<th>Confirmed Height</th>
			<td colspan="3">
				<% if(tx.confirmed_height > 0) { %>
				<a href="<%= config.server.prefix %>/block/<%= tx.confirmed_height %>">#<%= tx.confirmed_height.toLocaleString() %></a>
				(<span class="unixtime"><%= tx.block.time %></span>)
				<% } else { %>
				(unconfirmed)
				<% } %>
			</td>
		</tr>
		<tr>
			<% if(tx.vin[0].address != 'coinbase') { %>
			<th>Fee</th>
			<td><%- formatAmount(tx.fee) %> (<%= (tx.fee / tx.size).toFixed(0) %> <%= config.coin.satoshi %>/byte)</td>
			<% } else { %>
			<th>Block Reward</th>
			<td><%- formatAmount(-tx.fee) %></td>
			<% } %>
		</tr>
	</tbody>
</table>

<%- include('templates/footer.ejs') %>

