<%# vim: set filetype=html: %>

<%/*
Arguments:
 - number firstPage: the first page number.
 - number total: total pages.
 - number page: current page number.
 - string prefix: URL prefix.
 - string firstText: the text to show in the "first" tab.
 - string currentText: the text to show in the "current" tab.
 - string lastText: the text to show in the "last" tab.
*/%>

<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		<% if(page == firstPage) { %>
		<li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-step-backward"></i> <%= firstText %></a></li>
		<% } else { %>
		<li class="page-item"><a class="page-link" href="<%= config.server.web.prefix %>/<%= prefix %>/<%= firstPage %>"><i class="fa fa-step-backward"></i> <%= firstText %></a></li>
		<% } %>
		<% if(page - firstPage < 10) { %>
		<li class="page-item disabled"><a class="page-link" href="#">《 -10</a></li>
		<% } else { %>
		<li class="page-item"><a class="page-link" href="<%= config.server.web.prefix %>/<%= prefix %>/<%= page-10 %>">《 -10</a></li>
		<% } %>
		<% if(page <= firstPage) { %>
		<li class="page-item disabled"><a class="page-link" href="#">〈 Prev</a></li>
		<% } else { %>
		<li class="page-item"><a class="page-link" href="<%= config.server.web.prefix %>/<%= prefix %>/<%= page-1 %>">〈 Prev</a></li>
		<% } %>
		<li class="page-item disabled"><a class="page-link" href="#"><%= currentText %></a></li>
		<% if(total - page < 1) { %>
		<li class="page-item disabled"><a class="page-link" href="#">Next 〉</a></li>
		<% } else { %>
		<li class="page-item"><a class="page-link" href="<%= config.server.web.prefix %>/<%= prefix %>/<%= page+1 %>">Next 〉</a></li>
		<% } %>
		<% if(total - page < 10) { %>
		<li class="page-item disabled"><a class="page-link" href="#">+10 》</a></li>
		<% } else { %>
		<li class="page-item"><a class="page-link" href="<%= config.server.web.prefix %>/<%= prefix %>/<%= page+10 %>">+10 》</a></li>
		<% } %>
		<% if(total == page) { %>
		<li class="page-item disabled"><a class="page-link" href="#"><%= lastText %> <i class="fa fa-step-forward"></i></a></li>
		<% } else { %>
		<li class="page-item"><a class="page-link" href="<%= config.server.web.prefix %>/<%= prefix %>/<%= total %>"><%= lastText %> <i class="fa fa-step-forward"></i></a></li>
		<% } %>
	</ul>
</nav>

